:root{
    --font1: 'Bebas Neue', cursive;
    --font2: 'Poopins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font2);
}

a{
    color:#fff;
    text-decoration: none;
}

a:hover{
    color: teal;
    cursor: pointer;
}


#navbar{
    background-color: #222;
    display: flex;
    justify-content: space-between; 
    height: 70px;
    width: 100%;
    padding: 0 60px;
    align-items: center;
    position: fixed;
    z-index: 3;
}
.logo{
    height: 0%;
    width: 30%;
    border-radius: 50px;
    background: transparent;
}
.navbar-brand{
    font-size: 60px;
    font-family: var(--font1);
    letter-spacing: 3px;
}

.navbar-links{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.navbar-link{
    font-size: 35px;
    display: flex;
    justify-content: space-between;
    font-family: var(--font1);
}

#entry{
    color: #8f7a7a;
    height: 130vh;
    background-image: url("/img/portfolio-background-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    padding: 280px;
    text-align: center;
}

.img-above-name{
    width: 20%;
    border-radius: 50%;
}

.entry-text{
    margin: 30px;
    font-size: 70px;
    letter-spacing: 3px;
    font-family: var(--font1);
}

.entry-description{
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-family: var(--font2);
    margin-top: 25px;
    line-height: 50px;
}

.student{
    font-size: 45px;
}

#about{
    background-image: url("/img/about_background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px;
    text-align: center;
    padding: 60px 120px 60px 120px;
    height: 80vh;
}

.section-subtitle{
    font-size: 70px;
    color: rgb(99, 136,173);
    font-family: var(--font1);
    margin-bottom: 5px;
}

.section-header{
    color: #fff;
}



@media only screen and (max-width: 700px){
    .img-above-name{
        width: 80%;
    }

    .entry-text{
        font-size: 30px;
    }

    .entry-description{
        font-size: 20px;
    }

    .student{
        font-size: 45px;
    }
    #about{
        background-image: url("/img/about_background.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}