:root{
    --font1: 'Bebas Neue', cursive;
    --font2: 'Poopins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font2);
}

a{
    color:#fff;
    text-decoration: none;
}

a:hover{
    color: teal;
    cursor: pointer;
}


#navbar{
    background-color: #222;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; 
    height: 0;
    width: 100%;
    padding: 40px 30px;
    align-items: center;
    position: fixed;
    z-index: 3;
}
/* .logo{
    height: 0%;
    width: 30%;
    border-radius: 50px;
    background: transparent;
} */
.navbar-brand{
    font-size: 55px;
    font-family: var(--font1);
    letter-spacing: 3px;
}

.nav{
    flex: 1;
    text-align: right;
    
}
.nav li{
    font-family: var(--font1);
    font-size: 30px;
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 30px;
    margin-top: -10px;

}

/* .navbar-link li{
    letter-spacing: 3px;
   display: inline-block;
   margin-right: 10px;

} */

.menu-icon{
    width: 50px;
    cursor: pointer;
    display: none;
}

#entry{
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 150px; */
    text-align: center;
    padding: 0px;
    /* height: 150vh; */
    width: 100%;
}

.img-above-name{
    margin-top: 15%;
    position: relative;
    width: 15%;
    border-radius: 100px;
}

.entry-text{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    font-size: 80px;
    letter-spacing: 0px;
    font-family: var(--font1);
}

.entry-description{
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-family: var(--font2);
    margin-top: 25px;
    line-height: 50px;
}

.student{
    font-size: 45px;
}

#about{
    background-color: #dfdcdc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 150px; */
    text-align: center;
    padding: 0px;
    /* height: 50vh; */
    width: 100%;
}

.section-subtitle{
    font-size: 70px;
    color: rgb(99, 136,173);
    font-family: var(--font1);
    /* margin-top: 5px; */

}

.section-header{
    color: #222;
}
#project{
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    /* height: 70vh; */
    width: 100%;
}
#contact{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    width: 100%;
}
.social{
    width: 5%;
    align-content: center;
}

.a{
    font-size: 50px;
    display: flexbox;
    justify-content: space-between;
    text-align: center;
}

@media only screen and (max-width:700px){

    html{
        height: auto;
        width: auto;
    }
    
    .nav{
        width:100%;
        background: linear-gradient(#ff54a2, #ff575a);
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }

    .nav li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 90px;
    }
    .nav li a{
        color: rgb(255, 249, 249);
    }
    .menu-icon{
        background-color: #222;
        border-radius: 250px;
        display: block;
    }

    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }

    #entry{
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .entry-text{
        font-size: 49px;
    }

    .entry-description{
        font-size: 20px;
        
    }

    #about{
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    #project{
        font-size: auto;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    #contact{
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}

