:root{
    --font1: 'Bebas Neue', cursive;
    --font2: 'Poopins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font2);
}

a{
    color:#fff;
    text-decoration: none;
}

a:hover{
    color: teal;
    cursor: pointer;
}


#navbar{
    background-color: #222;
    display: flex;
    justify-content: space-between; 
    height: 70px;
    width: 100%;
    padding: 0 60px;
    align-items: center;
    position: fixed;
    z-index: 3;
}
/* .logo{
    height: 0%;
    width: 30%;
    border-radius: 50px;
    background: transparent;
} */
.navbar-brand{
    font-size: 4rem;
    font-family: var(--font1);
    letter-spacing: 3px;
}

.nav{
    flex: 1;
    text-align: right;
    
}
.nav li{
    font-family: var(--font1);
    font-size: 2rem;
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 30px;
    margin-top: -10px;

}

/* .navbar-link li{
    letter-spacing: 3px;
   display: inline-block;
   margin-right: 10px;

} */

.menu-icon{
    width: 50px;
    cursor: pointer;
    display: none;
}

#entry{
    color: #8f7a7a;
    height: 130vh;
    background-image: url("/img/portfolio-background-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    padding: 480px;
    text-align: center;
}

.img-above-name{
    position: relative;
    width: 14rem;
    border-radius: 10rem;
}

.entry-text{
    margin: 30px;
    font-size: 5rem;
    letter-spacing: 3px;
    font-family: var(--font1);
}

.entry-description{
    color: #fff;
    text-align: center;
    font-size: 2rem;
    font-family: var(--font2);
    margin-top: 25px;
    line-height: 50px;
}

.student{
    font-size: 4rem;
}

#about{
    background-image: url("/img/about_background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px;
    text-align: center;
    padding: 480px;
    height: 50vh;
}

.section-subtitle{
    font-size: 5rem;
    color: rgb(99, 136,173);
    font-family: var(--font1);
    margin-bottom: 5px;
}

.section-header{
    color: #fff;
}



@media only screen and (max-width:1000px){
    .nav{
        width:100%;
        background: linear-gradient(#ff54a2, #ff575a);
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }

    .nav li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    .nav li a{
        color: rgb(255, 249, 249);
    }
    .menu-icon{
        background-color: #222;
        border-radius: 10rem;
        display: block;
    }

    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }

    #about{
        flex-direction: column-reverse;
        background-image: url("/img/about_background.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

}